@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 1000rem;
}

.navbar {
    display: flex;
    align-items: center ;
    background-color: #A6A6A6;
    border: 2px solid black;
    padding: 0%;
}

.desitnations {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    justify-content: center;
    margin-left: 35%;
}

.list {
    display: flex;
    list-style: none;
}

.list2 {
    display: flex;
    list-style: none;
    margin-left: 70px;
}

.list3 {
    display: flex;
    list-style: none;
    margin-left: 70px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

.img {
    display: flex;
    margin-left: 30%;

}

.img-hero {
    display: flex;
    justify-content: center;
    background-image: url(7_25-Lux-Black-Nemesis_fr34-1024x575.png);
    background-size: cover;
    height: 88vh;
    width: ;
    padding-bottom: 70px;
    color: white;
    background-color: black;
}

.img-hero h1{
    /* display: flex; */
    /* justify-self: center; */
    margin-top: 40vh;
    margin-right: 45rem;
    /* background-color:#A6A6A6; */
    font-size: 3rem;
}

/* Davids Work */
/* off-screen-menu */
.off-screen-menu {
    background-color:  lightgray;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    opacity: .75;

}
.off-screen-menu.active {
    left: 0;
}

.off-screen-menu ul {
    list-style: none;
}


/* nav */
nav {
    /* padding: 1rem; */
    display: flex;
    background-color: rgb(34, 37, 49);
}



/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    /* margin-left: auto; */
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: black;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-menu a {
    list-style-type: none;
}

/* Nemesis */
.car-hero  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(7_25-Lux-Black-Nemesis_rr-1024x575\ \(1\).png);
    background-size: cover;
    background-color: #737373;
    height: 80vh;
    animation: slide 20s ease-in infinite;
}

@keyframes slide {
    50% {background-image: url(7_25-Lux-Black-Nemesis_rr-1024x575\ \(1\).png);}
    75% {background-image: url(7_25-Lux-Black-Nemesis_rr-crop-1024x682.png);}
    100% {background-image: url(7_25-Lux-Black-Nemesis_rr-1024x575\ \(1\).png);}
}

.car-hero-overlay{
    text-align: left;
    height: 40vh;
    color: white;
    margin-right: %;
}

.nemesis-imageinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid black 5px;
    background-image: url(7_25-Lux-Black-Nemesis_fr-crop-1024x576.jpg);
}

.nemesis-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-color: #404040;
    padding: 3%;
}

/* Config interior */

.interior-nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

.exterior-nav {

}

/* Jen's work*/

/* Configuration */

.saver {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 
}
.saver button {
    float: left;
}

.config {
    background-color: #737373;
}
.configWhite {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    position: absolute;
    top: 10px;
}
.configWhite img {
    width: 1270px;
    height: 995px;
}

.changing-thiscolor {
    display: flex;
    justify-content: flex-end;
}
.changing-thiscolor nav {
    align-items: flex-start;
    background-color: #D9D9D9;
    float: left;
    width: 750px;
    height: 980px;
    font-family: monospace;
}

.changing-thiscolor a {
    text-decoration: none;
}

.changing-thiscolor ul {
    background: #D9D9D9;
    list-style: none;
    margin: 0;
    padding-left: 0;
    position: absolute;
    right: 100px;
    font-size: 33px;
    border: 2px black solid; 
}

.changing-thiscolor li {
    color: #fff;
    background: #D9D9D9;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    border: 1px black solid;
}

.changing-thiscolor li a {
    color: #000000;
}

.changing-thiscolor li:hover,
.changing-thiscolor li:focus-within {
    background: #9a9a9a;
    cursor: pointer;
}

.changing-thiscolor li:focus-within a {
    outline: none;
}

.changing-thiscolor ul li ul {
    background: #4a4a4a;
    visibility: hidden;
    opacity: 0;
    min-width: 9.1rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.changing-thiscolor ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

.changing-thiscolor ul li ul li {
    clear: both;
    width: 100%;
}
/* Car Configuration */


/* About Us */
.first-bar {
    display: flex;
    width: 2006px;
    height: 700px;
    background-color: #737373;
    border: 2px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.first-bar h1 {
    display: flex;
    align-self: flex-start;
}

.first-bar p {
    display: flex;
    align-self: flex-end;
}

.Trion-Man {
    width: 2009px;
    height: 700px;
    background-color: #737373;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.Trion-Man h2 {
    flex-wrap: wrap;
    align-self: center;
    margin-left: 50px; 
    margin-bottom: 170px;
}
.Trion-Man p {
    flex-wrap: wrap;
    align-self: center;
    width: 800px;
    height: 100px;
    margin-left: 50px;
    margin-top: 40px;
}

.Trion-Man img {
    align-self: flex-end;
    float: right;
    margin: auto;
    padding: 10px;
    width: 30%;
}

.Trion-Staff {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-color: #404040;
}
.Trion-Staff img {
    padding: 23px;
    width: 400px;
    
}
.Trion-Staff h3 {
    align-self: flex-start;
    justify-content: center;

/* About Us */

/*  */



.foot{
    background-color: #0D0D0D;
    color: white;
    display: flex;
    padding-bottom: 3%;
}

.foot-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
}

.Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 5%;
}

.buttons{
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: white;
}

.pic1{
    display: flex;
    font-size: x-large;
    align-items: center;
    
}

.pictures{
    background-color: #737373;
}